$primary-color: #43123c;
$secondary-color: #000000;
$tertiary-color: #cc3399;
$shadow: 3px 3px 5px #fc91eca2;
$active-shadow: 2px 2px 5px #fc91eca2;
$white: #ffffff;
$overlay-color: #f7b1ec62;
$ad-rey: #f0a8e59c;
$grey: #515151;
$hover-color: #f0a8e59c;