@font-face {
    font-family: ubuntu-regular;
    src: url("../../Fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: ubuntu-bold;
    src: url("../../Fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: ubuntu-medium;
    src: url("../../Fonts/Ubuntu/Ubuntu-Medium.ttf");
}
@font-face {
    font-family: ubuntu-light;
    src: url("../../Fonts/Ubuntu/Ubuntu-Light.ttf")
}